[Unit]
Description=Telegram Bot API Local server
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/telegram-bot-api --api-id=14193518 --api-hash=78a1fc9989e99945c0bcd7d477f5a0ee --local --http-port=5000 --dir=/srv/telegram-bot-api

[Install]
WantedBy=multi-user.target
